*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Segoe UI', sans-serif;
}

:root
{
    --clr-primary : #caf0f8;
    --clr-secondary : #fff;
    --clr-btn : #fca311;
    --clr-text : #111;
    --shadow : 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.dark-theme
{
    --clr-primary : #000000;
    --clr-secondary : #14213d;
    --clr-text : #eee;
    --shadow : none;
}


body
{
    width: 100vw;
    min-height: 100vh;

    background: var(--clr-primary);
    color: var(--clr-text);
}

header
{
    width: 100vw;
    height: fit-content;

    display: flex;
    align-items: center;

    box-shadow: var(--shadow);

    padding: 0.5em 4em;
}

i
{
    font-size: 3em;
}
i:nth-child(1)
{
    color: var(--clr-btn);
}

h1
{
    font-size: 1.5em;

    max-width: 10ch;
    margin-left: calc(0.5em + 0.1vw);
}

i.fa-sun
{
    margin-left: auto;
}

.container
{
    width: 50%;
    max-width: 40em;

    height: 80vh;
    background: var(--clr-secondary);

    position: relative;

    margin: auto;
}

.page
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1em;

}

.active
{
    display: block;
    opacity: 1;
    pointer-events: visible;
}
.hide
{
    display: none;
    opacity: 0;
    pointer-events: none;
}

@media (max-width : 768px)
{
    header
    {
        padding: 0.5em 1em;
    }
    i
    {
        font-size: 2.6em;
    }
    h1
    {
        font-size: 1.3em;
    }
}